{% extends "_main.html" %}
{% from "_helpers.html" import render_field, render_pagination %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Editorialization Chcker</h2>
        </div>
        <div class="table-responsive">
            <form method="post" action="{{ url_for('editorialization', subreddit=subreddit) }}">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Given title</th>
                        <th>Real title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in submissions %}
                        <tr>
                            <td><a href="{{ item.short_link }}">{{ item.title }}</a></td>
                            <td><a href="{{ item.url }}">{{ item.real_title }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Change Flair"/>
            </form>
        </div>
    </div>
{% endblock %}